
:root{
    --color-main-blue: #0E1B34;
    --color-modal-blue: #284458;
    --color-main-grey: #D9D9D9;
    --color-gray: #FCFAFA;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.font-inknut{
    font-family: 'Inknut Antiqua', serif;
}

.bg-left{
    background: #0E1B34;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        color: #fff;
        /* height: 100vh; */
}
.billionaire-title{
    line-height: 1.8rem;
    letter-spacing: .1rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.billionaire-title-span{
    letter-spacing: .5rem;
    color: var(--color-main-grey);
}

.billionaire-btn-primary{
    padding: .3rem 1rem;
    width: 100%;
}
.billionaire-btn-primary-main{
    color: var(--color-main-blue);
    font-weight: 600;
    font-size: 1.2rem;
}
.billionaire-btn-primary-second{
    display: block;
    font-size: .9rem;
}
.img-header{
    margin-top: 2rem;
    width: 40px;
    height: 40px;
}
.header-input{
    border: 2px solid var(--color-main-blue);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
}
.header-input:focus,
.header-input:active,
.header-input:hover {
    border-top: 0;
        border-left: 0;
        border-right: 0;
}
.bg-header{
    background: var(--color-gray) !important;
}
.bg-body{
    background: var(--color-main-grey) !important;
}


.person-name{
    cursor: pointer;
}


/* Modal */
.bg-modal{
    background-color: var(--color-main-grey);
}
.modal-body-title{
    color: var(--color-modal-blue);
    text-shadow: 5px 6px 7px #193144;
}
.modal-body-title-p{
    color: var(--color-modal-blue);
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.2rem;
}
.modal-info-p{
    line-height: .5rem;
}